html, body {
    height: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.topbar {
    height: 100px;
    width: 100%;

    .logo {
        margin-top:-40px;
        height: 200px;
        display: inline-block;
    }

    .menu {
        padding-top: 30px;
        padding-right: 50px;
        float: right;
        display: inline-block;
        color: #FFF;
        font-size: 45px;
        margin-top: 11px;

        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */

        li.menu-item {
            display: inline-block;
            list-style: none;
            margin-left: 10px;
            margin-right: 10px;
            cursor: pointer;

            transition: color 1500ms;

            &:hover{
                color: yellow;
            }

            &.selected{
                color: #fbb904;
            }
        }
    }

    .social-media {
        padding-top: 25px;
        padding-right: 50px;
        float: right;
        display: inline-block;
        margin-top: 8px;

        li {
            display: inline-block;
            list-style: none;
            margin-left: 10px;
            margin-right: 10px;
            
            -webkit-user-select: none; /* Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */

            img {
                height: 50px;
            }
        }
    }

}

.main-content{
    width: 100%;
    height: calc(100% - 101px);
    color: white;

    .container{
        height: 100%;
        width: 100%;

        .image-container{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            margin-top: 50px;
            width: 89%;
            transition: all 500ms;

            &.off-left {
                left: -50%;
            }

            &.off-right{
                left: 150%;
            }

            &.no-transition {
                transition: none;
            }

            img {
                width: 100%;
            }

            div.caption{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                background-color: rgba(0,0,0,0.5);
                padding: 10px;
                border-radius: 10px;
            }
        }


    }

    .carousel-button{
        position: absolute;
        top: 50%;
        color: #FFF;
        font-size: 50px;
        user-select: none;
        cursor: pointer;

        &.next-button{
            right: 50px;
        }

        &.prev-button{
            left: 50px;
        }
    }
}
