html, body {
    height: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
}

.topbar {
    height: 100px;
    width: 100%;

    .logo {
        margin-top:-40px;
        height: 200px;
        display: inline-block;
    }

    .menu {
        padding-top: 30px;
        padding-right: 50px;
        float: right;
        display: inline-block;
        color: #FFF;
        font-size: 45px;

        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */

        li.menu-item {
            display: inline-block;
            list-style: none;
            margin-left: 10px;
            margin-right: 10px;
            cursor: pointer;

            transition: color 1500ms;

            &:hover{
                color: #fbb904;
            }
        }
    }

    .social-media {
       padding-top: 25px;
        padding-right: 50px;
        float: right;
        display: inline-block;

        li {
            display: inline-block;
            list-style: none;
            margin-left: 10px;
            margin-right: 10px;
            
            -webkit-user-select: none; /* Safari */        
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* IE10+/Edge */
            user-select: none; /* Standard */

            img {
                height: 50px;
            }
        }
    }

}

.main-content{
    width: 100%;
    height: calc(100% - 101px);
}
